// FONTS

@font-face {
  font-family: "Digits";
  src: url(../assets/fonts/digital-7.ttf);
}

@font-face {
  font-family: "Quick";
  src: url(../assets/fonts/Quicksand-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Oxan";
  src: url(../assets/fonts/Oxanium-VariableFont_wght.ttf);
}

// VARIABLES

// Variable overrides bootstrap
$enable-shadows: true;
$blue: #1a6a99;
$success: #116933;
$info: #6d16b4;
$warning: #dfc845;
$danger: #dc3545;
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --white: #ffff;
  --gray-100: #f1f1f1;
  --gray-200: #d0d0d0;
  --gray-300: #a0a0a0;
  --gray-400: #7d7d7d;
  --gray-500: #5c5c5c;
  --gray-600: #3a3a3a;
  --gray-700: #2a2a2a;
  --gray-800: #1a1a1a;
  --gray-900: #121212;
  --black: #000;
  --font-family: "Quick";
  --card-bg: #ffffff56;
  --shadow-color: #ffffff1a;
  --box-shadow: 0 1px 2px 0 #3c40444d, 0 1px 3px 1px #3c404326;
  --shadow: 4px 4px 7px #bbb, -3px -3px 6px #fff;
  --inner-shadow: inset 3px 3px 6px #bbb, inset -3px -3px 6px #fff;
  --background: url(../assets/tokyo-sakura.png);
  --back-color: #ffffffb6;
  --pink: #f9c8d2da;
}

[data-theme="dark"] {
  --white: #000;
  --gray-100: #121212;
  --gray-200: #1a1a1a;
  --gray-300: #2a2a2a;
  --gray-400: #3a3a3a;
  --gray-500: #5c5c5c;
  --gray-600: #7d7d7d;
  --gray-700: #a0a0a0;
  --gray-800: #d0d0d0;
  --gray-900: #f1f1f1;
  --black: #fff;
  --font-family: "Quick";
  --card-bg: #00000056;
  --shadow-color: #1b1b1b1a;
  --box-shadow: 0 1px 2px 0 #a7b2bd4d, 0 1px 3px 1px #a7b4bd26;
  --shadow: 4px 4px 7px #444, -3px -3px 6px #000;
  --inner-shadow: inset 3px 3px 6px #444, inset -3px -3px 6px #000;
  --background: url(../assets/tokyo-night.avif);
  --back-color: #272727b6;
  --pink: #ff839cda;
}

// RESET

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// MIXIN ET FONCTIONS

@function delayPlus($n, $delay-base: 0s, $increment: 0.1s) {
  @return $delay-base + ($n - 1) * $increment;
}

@mixin ox($weight) {
  font-family: "Oxan";
  font-weight: $weight;
}

@mixin quick($weight) {
  font-family: "Quick";
  font-weight: $weight;
}

@mixin flex($direction, $jc, $ai, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

// ANIMATIONS

@keyframes fall {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(30px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.7) translateY(20px) rotateZ(10deg);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0) rotateZ(0);
  }
}

@keyframes fadeInRotate {
  from {
    opacity: 0;
    transform: scale(0.7) translateY(20px) rotateZ(10deg);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0) rotateZ(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: scale(0.8) translateY(100px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: scale(0.8) translateX(100px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: scale(0.8) translateX(-100px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes notif {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-12deg);
  }
  50% {
    transform: rotate(12deg);
  }
  65% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fadeMessage {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes beats {
  0% {
    transform: scale(1);
  }
  17% {
    transform: scale(1.1);
  }
  34% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  67% {
    transform: scale(1);
  }
  84% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.fade-left {
  animation: fadeInLeft 0.4s ease-out forwards;
}

.fade-right {
  animation: fadeInRight 0.4s ease-out forwards;
}

.fade-up {
  animation: fadeInUp 0.4s ease-out forwards;
}

.fade-rotate {
  animation: fadeInRotate 0.4s ease-out forwards;
}

.fading {
  animation: fade 0.4s ease-out forwards;
}

.badge {
  animation: notif 1s linear 3;
}

.notif-bounce {
  animation: beats 2s linear;
}

.disappear {
  animation: fadeOut 0.3s ease-out 2s forwards 1;
}

// BUTTONS

.btn {
  box-shadow: var(--shadow) !important;
  font-weight: 500 !important;
  &:hover {
    box-shadow: var(--box-shadow) !important;
  }
  &:active {
    box-shadow: inset var(--inner-shadow) !important;
  }
}

// MAP

#map {
  height: 50vh;
  min-height: 250px;
  width: 100%;
  border-radius: 10px;
}

#map.all {
  height: 68vh;
}

// Message code

.message-code {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include flex(column, start, center, nowrap);
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  pointer-events: none;
  box-shadow: var(--shadow) !important;
  animation: fade 0.4s ease-in 1.8s reverse forwards;
}

.success {
  margin-top: 30vh;
  color: $success;
  border: 1px solid $success;
  animation: fadeMessage 0.4s ease, fadeOut 0.5s ease-in 1.8s forwards;
}

.error {
  margin-top: 30vh;
  color: $danger;
  border: 1px solid $danger;
  animation: fadeMessage 0.4s ease, fadeOut 0.5s ease-in 1.8s forwards;
}

/*
cards triés par popularité
newsletters 
*/
