@use "class-variables" as *;
@use "media-queries" as *;

body {
  font-family: var(--font-family);
  font-weight: 500;
  @include flex(column, start, stretch, nowrap);
  position: relative;
  min-height: 100vh;
  background: var(--background) center / cover no-repeat fixed;
  overflow-x: hidden;
  .section {
    flex: 1;
  }
  .petal {
    position: absolute;
    background-color: var(--pink);
    border-radius: 21% 79% 45% 55% / 11% 78% 22% 89%;
    border: 1px solid #0000002c;
    animation: fall linear infinite;
  }
}

.modal-backdrop {
  opacity: 0.8 !important;
  pointer-events: none;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-500);
}

.categorie {
  font-variant: small-caps;
}

.redim {
  max-width: 1100px;
}

// NAVBAR

.navbar {
  box-shadow: var(--box-shadow);
  z-index: 1;
  min-height: 80px;
  font-size: 1.1rem;
  font-weight: 600;
  .container-xl {
    .menu-line {
      display: none;
      @include media(lt-lg) {
        display: block;
        width: 50px;
      }
    }
    .navbar-brand {
      width: 100px;
      height: 60px;
      background: var(--torii) center / cover no-repeat;
    }
    .navbar-toggler {
      margin: 0 50% 0 0;
      transform: translateX(40px);
      @include media(xs) {
        margin: 0 50px 0 auto;
      }
    }
    .nav-link {
      transition: 0.2s;
      position: relative;
      z-index: 1;
      padding: 0.5rem 0.5rem;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        right: 20px;
        opacity: 0;
        background: var(--active-bg) center / 74px 44px no-repeat;
        z-index: -1;
        transition: opacity 0.3s ease, right 0.3s ease;
        border: none;
      }
    }
    .nav-item {
      &:hover {
        .nav-link::after {
          opacity: 1;
          right: 0;
          border: none;
        }
      }
    }
    .page-profil {
      img {
        height: 25px;
        border-radius: 50%;
      }
    }
    .active-page {
      background: var(--active-bg) center / 74px 44px no-repeat;
      z-index: 0;
      &::after {
        content: "";
        opacity: 0 !important;
      }
    }
  }
  .admin {
    width: 140px;
    margin: 0 auto;
    .badge {
      position: absolute;
      right: 7px;
      top: 3px;
    }
  }
}
.btn-admin:hover {
  .badge {
    filter: hue-rotate(150deg);
  }
}

//HOMEPAGE

.home {
  background: var(--back-color);
  backdrop-filter: blur(10px);
}

.direct {
  #meteo-tokyo {
    p {
      font-size: 1.3rem;
      margin: 0;
    }
    .icon-meteo {
      height: 35px;
      background-color: #5db0e350;
      border-radius: 50%;
    }
  }
  #heure-tokyo {
    font-size: 2.3rem;
    font-family: "Digits";
  }
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.carousel-container {
  .carousel-item {
    height: 65vh;
    overflow: hidden;
    @include media(lt-md) {
      height: 50vh;
    }
    .carousel-img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// AFFICHAGE INDEX ARTICLES

.filters {
  button {
    width: 90%;
    max-width: 250px;
  }
}

.article {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  box-shadow: var(--box-shadow);
  padding-top: 0.5rem;
  cursor: pointer;
  max-width: 360px;
  height: 360px;
  transform: translateY(20px);
  animation: fadeInRotate 0.4s ease-out forwards;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: delayPlus($i);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--card-bg);
  }
  .article-content {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--black);
    text-shadow: 1px 1px 1px var(--white);
    h2 {
      font-size: 1.9rem;
    }
    .content {
      align-self: center;
      opacity: 0;
      transform: translateX(-60px);
      font-size: 1.2rem;
      width: 110%;
      padding: 0.8rem 2rem;
      background-color: var(--back-color);
      margin: 0;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      word-break: break-word;
      -webkit-line-clamp: 5;
      line-clamp: 5;
    }
  }
  &:hover {
    .article-content .content {
      opacity: 1;
      transform: none;
      transition: all 0.4s ease;
    }
  }
}

#loader {
  font-size: 1.3rem;
  font-variant: small-caps;
}

// READ ARTICLE

.read-title {
  position: relative;
  h1 {
    flex: 1;
  }
  #favorite {
    width: 200px;
    top: 1rem;
    border-radius: 30px;
    box-shadow: var(--box-shadow) !important;
    @include media(lt-lg) {
      border-radius: 50%;
      width: 50px;
    }
    .heart {
      text-shadow: 0 0 5px var(--gray-500);
      font-size: 1.7rem;
      @include media(lt-lg) {
        font-size: 1.5rem;
      }
    }
    span {
      color: var(--gray-700);
      text-shadow: none;
      font-size: 0.9rem;
      font-weight: 600;
    }
    &:hover {
      .heart {
        animation: notif 1s linear 2;
      }
    }
  }
  .fav-text {
    position: absolute;
    width: 130px;
    top: -24px;
    right: 10px;
    z-index: -1;
    @include media(lt-lg) {
      display: none;
    }
  }
}

.moderation {
  flex: auto;
}

.img-clickable-container {
  height: 40vh;
  min-height: 300px;
  overflow: hidden;
  .img-clickable {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
  }
}

// READ USER

.user {
  width: 100%;
  .user-name {
    width: fit-content;
    border-radius: 20px;
    font-weight: 600;
    font-size: 3rem;
  }
  .container-img {
    border-radius: 5px;
    height: 206px;
    width: 206px;
    @include media(gt-md) {
      height: 356px;
      width: 356px;
    }
    &.bg-update {
      background: linear-gradient(135deg, transparent 75%, var(--white) 100%);
    }
    .offcanvas-link {
      position: relative;
      cursor: pointer;
      &::after {
        content: "🔄";
        position: absolute;
        font-size: 1.3rem;
        right: 10px;
        top: 80px;
        &:hover {
          transform: scale(1.05);
          transition: all 0.2s ease-in-out;
        }
        @include media(gt-md) {
          top: 155px;
        }
      }
    }
    .profil-pic {
      width: 200px;
      margin: 3px;
      box-shadow: var(--box-shadow);
      @include media(gt-md) {
        width: 350px;
      }
    }
  }
  .user-info {
    li {
      background-color: transparent;
    }
  }
  .card-container {
    .card {
      width: 300px;
      box-shadow: 1px 1px 4px var(--gray-400), -1px -1px 4px var(--gray-100);
      border-radius: 20px;
      background: linear-gradient(0deg, var(--white) 25%, $primary 100%);
      border: none !important;
      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-top: 7px;
        width: 95%;
        height: 220px;
        object-fit: cover;
        object-position: center;
      }
      &.pending-card {
        background: linear-gradient(0deg, var(--white) 25%, $success 100%);
      }
    }
  }
}

#imgUpdateModal {
  .modal-dialog {
    max-width: 600px;
  }
  .avatar-canva {
    max-width: 150px;
    border-radius: 50%;
  }
}

// FORM

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea[name="content"],
textarea[name="message"],
select.form-select {
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  background-color: transparent;
  box-shadow: inset 1px 1px 4px var(--gray-200),
    inset -1px -1px 4px var(--white);
  &:focus {
    outline: none;
    box-shadow: 2px 2px 4px var(--gray-200), -2px -2px 4px var(--white);
  }
}

.password-wrapper {
  position: relative;
  .toggle-password {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.preview {
  img {
    width: 40%;
    min-width: 250px;
  }
}

.spinner {
  border: 5px solid var(--gray-100);
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

// AVATARS FORM

.avatars {
  &:hover > :not(:hover) {
    opacity: 0.5;
    transition: 0.3s;
  }
  .img-select {
    input {
      display: none;
      &:checked ~ label {
        .check {
          display: block;
          pointer-events: none;
          opacity: 1;
        }
        .avatar {
          &:hover {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }
    label {
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      .avatar {
        width: 70%;
        border-radius: 50%;
      }
      &:hover {
        transform: scale(1.05);
        transition: 0.2s;
      }
      .check {
        display: none;
        position: absolute;
        width: 60px;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
      }
    }
  }
  @include media(lt-lg) {
    &:hover > :not(:hover) {
      opacity: 1;
    }
  }
}

// MAP ALL

.pop-up {
  color: var(--gray-900) !important;
  text-decoration: none;
  display: block;
  width: 200px;
  overflow: hidden;
  h5 {
    margin: 0 0 0 5px;
  }
  p {
    margin: 5px;
    font-size: 0.8rem;
  }
  .img-contain {
    width: 100%;
    overflow: hidden;
    height: 180px;
    img {
      border-radius: 15px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.leaflet-popup-content-wrapper {
  font-family: "Quick";
  background: linear-gradient(
    180deg,
    var(--back-color) 0%,
    var(--gray-200) 100%
  );
  .leaflet-popup-content {
    margin: 5px 7px !important;
  }
}

// LOGIN

.login-btn {
  width: 250px;
}

// ADMIN


.blocked {
  background: linear-gradient(270deg, var(--gray-100) 33%, var(--red) 100%) !important;
  td{
    background: transparent !important;
  }
}

.admin-card {
  display: block;
  width: 300px;
  border-radius: 15px;
  img {
    border-radius: 15px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  a {
    text-decoration: none;
  }
}

// FOOTER

footer {
  backdrop-filter: blur(10px);
  background-color: #2a2a2ab6;
  color: #eee;
  box-shadow: -1px -1px 10px #111;
  p{
    font-size: 0.8rem;
  }
  .to-top{
    font-size: 2rem;
  }
  img {
    height: 35px;
  }
  .list-group-horizontal-md{
    border-radius: 0;
    transition: border-color 0.3 ease;
    &:hover > :not(:hover) {
      border-color: transparent !important;
    }
    @include media (lt-md){
      width: 250px;
    }
    .list-group-item{
      color: #ddd;
      font-size: 0.9rem;
      border-radius: 0 !important;
      border-top: none;
      border-right: none;
      border-left: none;
      border-color: #999;
      background-color: transparent;
      transition: all 0.3s ease;
      &:hover{
        color: #fff;
        background: radial-gradient(circle, $primary 0%, transparent 100%);
      }
    }
  }
  .active-footer{
    background: radial-gradient(circle, $primary 0%, transparent 100%);
  }
}

.container-switcher {
  // position: fixed;
  // bottom: 10px;
  // right: 10px;
  z-index: 5;
  .theme-switcher {
    background: var(--switcher-bg);
    border-radius: 20px;
    display: flex;
    padding: 0 3px;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 2.5rem;
    input {
      display: none;
      &:nth-of-type(1):checked ~ .slider {
        transform: translateX(2%);
      }
      &:nth-of-type(2):checked ~ .slider {
        transform: translateX(98%);
      }
    }
    label {
      position: relative;
      z-index: 7;
      width: calc(100% / 2);
      span {
        padding: 8px 0;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }
    }
    .slider {
      display: block;
      position: absolute;
      z-index: 6;
      width: calc((100% - 6px) / 2);
      top: 3px;
      bottom: 3px;
      transform: translateX(-110%);
      border-radius: 17px;
      transition: 0.15s ease, transform 0.25s ease-out;
      background: var(--slider-bg);
      box-shadow: var(--slider-shadow);
    }
  }
}
