@use "class-variables" as *;
@use "media-queries" as *;

html.theme-transition,
body.theme-transition {
  transition: all 0.3 ease;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  @include flex(column, start, stretch, nowrap);
  position: relative;
  min-height: 100vh;
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  .section {
    flex: 1;
  }
  .petal {
    position: absolute;
    background-color: var(--pink);
    border-radius: 21% 79% 45% 55% / 11% 78% 22% 89%;
    border: 1px solid #0000002c;
    animation: fall linear infinite;
  }
}

.modal-backdrop {
  opacity: 0.8 !important;
  pointer-events: none;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-600);
}

.categorie {
  font-variant: small-caps;
  img {
    height: 30px;
  }
}

// NAVBAR

.navbar {
  box-shadow: var(--box-shadow);
  z-index: 1;
  font-size: 1.1rem;
  font-weight: 600;
  .container-fluid {
    .nav-link {
      transition: 0.2s;
      position: relative;
      z-index: 1;
      padding: 0.5rem 0.5rem;
      text-align: center;
      @include media(lt-lg) {
        border-top: 1px solid var(--gray-500);
      }
      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        top: 0;
        right: 20px;
        opacity: 0;
        background-image: url(../assets/hover-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 74px 44px;
        z-index: -1;
      }
      &:hover {
        &::after {
          opacity: 1;
          right: 0;
          transition: 0.2s;
        }
      }
    }
  }
  .navbar-brand {
    img {
      height: 60px;
    }
  }
}
.page-profil {
  img {
    height: 25px;
    border-radius: 50%;
  }
}

.active-page {
  background-image: url(../assets/hover-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 74px 44px;
  z-index: 0;
  pointer-events: none;
}

.theme-switch {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

//HOMEPAGE

.home {
  background: var(--back-color);
  backdrop-filter: blur(10px);
}

.direct {
  #meteo-tokyo {
    p {
      font-size: 1.3rem;
      margin: 0;
    }
    .icon-meteo {
      height: 35px;
      background-color: #5db0e350;
      border-radius: 50%;
    }
  }
  #heure-tokyo {
    font-size: 2.3rem;
    font-family: "Digits";
  }
  .iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 */
    height: 0;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.carousel-container {
  max-width: 850px;
  .carousel-item {
    height: 60vh;
    overflow: hidden;
    .carousel-img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// AFFICHAGE INDEX ARTICLES

.filters {
  button {
    width: 90%;
    max-width: 250px;
  }
}

.article {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  box-shadow: var(--box-shadow);
  padding-top: 0.5rem;
  cursor: pointer;
  max-width: 360px;
  height: 360px;
  transform: translateY(20px);
  animation: fadeInRotate 0.4s ease-out forwards;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      animation-delay: delayPlus($i);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--card-bg);
  }
  .article-content {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-shadow: 2px 2px 2px #ffffff;
    h2 {
      font-size: 1.9rem;
    }
    .content {
      align-self: center;
      opacity: 0;
      transform: translateX(-60px);
      font-size: 1.2rem;
      width: 110%;
      padding: 0.8rem 2rem;
      background-color: var(--back-color);
      margin: 0;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      word-break: break-word;
      -webkit-line-clamp: 5;
      line-clamp: 5;
    }
  }
  &:hover {
    .article-content .content {
      opacity: 1;
      transform: none;
      transition: all 0.4s ease;
    }
  }
}

#loader {
  font-size: 1.3rem;
  font-variant: small-caps;
}

// READ ARTICLE

.read-title {
  position: relative;
  h1 {
    flex: 1;
  }
  #favorite {
    width: 200px;
    top: 1rem;
    border-radius: 30px;
    box-shadow: var(--box-shadow) !important;
    @include media(lt-lg) {
      border-radius: 50%;
      width: 50px;
    }
    .heart {
      text-shadow: 0 0 5px var(--gray-900);
      font-size: 1.7rem;
      @include media(lt-lg) {
        font-size: 1.5rem;
      }
    }
    span {
      color: var(--gray-700);
      text-shadow: none;
      font-size: 0.9rem;
      font-weight: 600;
    }
    &:hover {
      .heart {
        animation: notif 1s linear 2;
      }
    }
  }
  .fav-text {
    position: absolute;
    width: 130px;
    top: -24px;
    right: 10px;
    z-index: -1;
    @include media(lt-lg) {
      display: none;
    }
  }
}

.moderation {
  flex: auto;
}

.img-clickable-container {
  height: 40vh;
  min-height: 300px;
  overflow: hidden;
  .img-clickable {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.02);
      box-shadow: var(--box-shadow);
    }
  }
}

// READ USER

.user {
  position: relative;
  margin-top: 10rem;
  .user-name {
    width: fit-content;
    margin-top: 4rem;
    border-radius: 20px;
    background-color: var(--gray-200);
    box-shadow: var(--box-shadow);
    font-weight: 600;
    font-size: 3rem;
  }
  .profil-pic {
    width: 250px;
    position: fixed;
    top: -135px;
    left: calc(50% - 125px);
    box-shadow: var(--box-shadow);
  }
}

// FORM

input[type="text"],
input[type="email"],
input[type="password"],
textarea[name="content"],
select.form-select {
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  background-color: transparent;
  box-shadow: inset 2px 2px 5px var(--gray-200),
    inset -2px -2px 5px var(--white);
  &:focus {
    outline: none;
    box-shadow: 3px 3px 6px var(--gray-200), -2px -2px 5px var(--white);
  }
}

.preview {
  img {
    width: 40%;
    min-width: 250px;
  }
}

.spinner {
  border: 5px solid var(--gray-100);
  border-top: 5px solid $primary;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

// AVATARS FORM

.avatars {
  &:hover > :not(:hover) {
    opacity: 0.5;
    transition: 0.3s;
  }
  .img-select {
    input {
      display: none;
      &:checked ~ label {
        .check {
          display: block;
          pointer-events: none;
          opacity: 1;
        }
        .avatar {
          &:hover {
            opacity: 1;
            transition: 0.3s;
          }
        }
      }
    }
    label {
      border-radius: 50%;
      position: relative;
      .avatar {
        width: 70%;
        border-radius: 50%;
      }
      &:hover {
        transform: scale(1.05);
        transition: 0.2s;
      }
      .check {
        display: none;
        position: absolute;
        width: 60px;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
      }
    }
  }
}

// MAP ALL

.pop-up {
  color: var(--gray-900) !important;
  text-decoration: none;
  display: block;
  width: 200px;
  overflow: hidden;
  h5 {
    margin: 0 0 0 5px;
  }
  p {
    margin: 5px;
    font-size: 0.8rem;
  }
  .img-contain {
    width: 100%;
    overflow: hidden;
    height: 180px;
    img {
      border-radius: 15px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.leaflet-popup-content-wrapper {
  font-family: "Quick";
  background: var(--gray-200);
  background: linear-gradient(180deg, var(--gray-100) 0%, var(--white) 100%);
  .leaflet-popup-content {
    margin: 5px 7px !important;
  }
}

// LOGIN

.login-btn {
  width: 250px;
}

// ADMIN

.list-stat {
  .list-group-item {
    background-color: transparent;
    border-color: var(--$gray-200);
    span {
      font-weight: 700;
      color: var(--$gray-800);
      + span {
        font-weight: 500;
        color: var(--$gray-900);
      }
    }
  }
}

.admin-card {
  display: block;
  width: 300px;
  border-radius: 15px;
  img {
    border-radius: 15px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  a {
    text-decoration: none;
  }
}

// FOOTER

footer {
  height: 60px;
  @include flex(column, center, center, nowrap);
}
